
- name: Discover interface for BMC link local address
  ansible.builtin.raw: ip -6 neigh show | grep -i {{ bmc_lla_ip }} | awk '{print $3}' | head -n1
  delegate_to: mgen
  register: bmc_lla_interface_result

- name: Configure link-local address interface
  set_fact:
    bmc_lla_interface: "{{ bmc_lla_interface_result.stdout | trim }}"
    bmc_lla_ipv6: "{{ bmc_lla_ip }}"

- name: Reset BMC to factory defaults
  lenovo.ansible.lenovo.xcc_manager:
    action: reset_to_defaults
    reset_type: ResetAll
    hostname: "{{ ru7_ipv6_address }}"
    username: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
  register: bmc_reset

- name: Reset BIOS to factory defaults
  lenovo.ansible.lenovo.xcc_bios:
    action: reset
    hostname: "{{ ru7_ipv6_address }}"
    username: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
  register: bios_reset

- name: Wait for BMC to respond via LLA
  ansible.builtin.wait_for:
    host: "[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]"  # e.g., fe80::xxxx%eth0
    port: 443
    delay: 5
    timeout: 300
    state: started

- name: Retrieve existing network configuration of BMC
  command: >
    curl -k -u {{ ru7_user }}:{{ new_redfish_password }} --fail
    https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/{{nic_url}}
  delegate_to: mgen
  register: curl_nic_result
  changed_when: false

- name: Enable ipv6 static mode and power policy after successful BMC reset
  delegate_to: mgen
  command: >
    sshpass -p '{{ hostvars[inventory_hostname].new_redfish_password }}'
    ssh -o StrictHostKeyChecking=no
    {{ hostvars[inventory_hostname].ru7_user }}@{{ hostvars[inventory_hostname].bmc_lla_ipv6 }}%{{ hostvars[inventory_hostname].bmc_lla_interface }}
    "ifconfig {{ bmc_network.bmc_network_interface }} -ipv6static enabled -failover shared; usbeth -en enabled; power -rp {{ powerrp }}"

- name: Configure ipv6 address and StatelessAddressAutoConfig setting
  shell: >
    curl -k -u {{ ru7_user }}:{{ new_redfish_password }}
    -H "Content-Type: application/json"
    -X PATCH
    "https://[{{ bmc_lla_ip }}%25{{ bmc_lla_interface }}]/{{ nic_url }}"
    --data-raw '{
      "DHCPv6": {
        "OperatingMode": "{{ "Enabled" if bmc_network.dhcp6_enabled else "Disabled" }}"
      },
      "IPv6StaticAddresses": [
        {
          "Address": "{{ ru7_ipv6_address }}",
          "PrefixLength": {{ bmc_network.ipv6_prefix | int }}
        }
      ],
      "StatelessAddressAutoConfig": {
        "IPv6AutoConfigEnabled": {{ bmc_network.stateless_autoconfig_enabled | lower }}
      }
    }'
  delegate_to: mgen
  register: curl_nic_patch_result
  changed_when: false

- name: Wait for configuration to apply
  pause:
    seconds: 10

- name: Configure Lenovo Failover and DNS Sync
  uri:
    url: "{{ ru7_host }}{{ nic_url }}"
    method: PATCH
    user: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
    force_basic_auth: yes
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      DHCPv4:
        Enabled: "{{ bmc_network.dhcp6_enabled | bool }}"
      IPv6StaticAddresses:
        - Address: "{{ ru7_ipv6_address }}"
          SubnetMask: "{{ ipv6_netmask | default('255.255.0.0') }}"
          Gateway: "{{ bmc_network.ipv6_gateway }}"
      IPv4StaticAddresses:
        - Address: "{{ ru7_address }}"
          SubnetMask: "{{ ipv4_netmask | default('255.255.0.0') }}"
      Oem:
        Lenovo:
          "NetworkSettingSync": "{{ bmc_network.name_server_sync_enabled }}"
    status_code: [200, 204]
  delegate_to: mgen  
  register: ipv6_oem_config
  when:
    - bmc_network.name_server_sync_enabled is defined
