
- name: Get LLA from local interface
  ansible.builtin.raw: ip -6 neigh show | grep -i {{ bmc_lla_ip }} | awk '{print $3}' | head -n1
  vars:
    ansible_connection: ssh
    ansible_host: "{{ host }}"
    ansible_user: "{{ user }}"
    ansible_password: "{{ password }}"
  register: bmc_lla_interface_result

- name: Set interface fact
  set_fact:
    bmc_lla_interface: "{{ bmc_lla_interface_result.stdout | trim }}"

- name: Debug interface fact
  debug:
    msg: "{{ bmc_lla_interface }}"

- name: Debug pass
  debug:
    msg: "{{ new_redfish_password }}"

- name: Show execution host
  command: hostname
  delegate_to: mgen
  register: host_out

- debug:
    var: host_out.stdout

- name: Get current network interface configuration using Redfish API and curl
  command: >
    curl -k -u {{ ru7_user }}:{{ new_redfish_password }}
    https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/Managers/1/EthernetInterfaces
  delegate_to: mgen
  register: curl_result

- debug:
    var: curl_result.stdout

- name: Save Redfish result as workflow artifact
  set_stats:
    data:
      redfish_body: "{{ curl_result.stdout }}"
      redfish_success: "{{ curl_result.rc == 0 }}"

- name: Get the first network interface URL
  set_fact:
    network_interface_uri: "{{ curl_result.stdout.json.Members[0]['@odata.id'] }}"
  when: curl_result.stdout.json.Members | length > 0

- name: Set nic_value from first interface
  set_fact:
    nic_value: "{{ curl_result.stdout.json.Members[0]['@odata.id'].split('/')[-1] }}"

- debug:
    var: "{{ nic_value }}"
