
- name: Get LLA from local interface
  ansible.builtin.raw: ip -6 neigh show | grep -i {{ bmc_lla_ip }} | awk '{print $3}' | head -n1
  vars:
    ansible_connection: ssh
    ansible_host: "{{ host }}"
    ansible_user: "{{ user }}"
    ansible_password: "{{ password }}"
  register: bmc_lla_interface_result

- name: Set interface fact
  set_fact:
    bmc_lla_interface: "{{ bmc_lla_interface_result.stdout | trim }}"

- name: Debug interface fact
  debug:
    msg: "{{ bmc_lla_interface }}"

- name: Debug pass
  debug:
    msg: "{{ new_redfish_password }}"

- name: Show execution host
  command: hostname
  delegate_to: mgen
  register: host_out

- debug:
    var: host_out.stdout

- name: Get current network interface configuration using Redfish API and curl
  command: >
    curl -k -u {{ ru7_user }}:{{ new_redfish_password }}
    https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/Managers/1/EthernetInterfaces
  delegate_to: mgen
  register: curl_result

- debug:
    var: curl_result

- name: Save Redfish result as workflow artifact
  set_stats:
    data:
      redfish_body: "{{ curl_result.stdout }}"
      redfish_success: "{{ curl_result.rc == 0 }}"

- name: Parse curl JSON output
  set_fact:
    nic_json: "{{ curl_result.stdout | from_json }}"

- name: Get first NIC URL
  set_fact:
    nic_url: "{{ nic_json.Members[0]['@odata.id'] }}"

- debug:
    var: nic_url
    
- name: Get current network interface configuration using curl
  command: >
    curl -k -u {{ ru7_user }}:{{ new_redfish_password }} --fail
    https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/{{nic_url}}
  delegate_to: mgen
  register: curl_result
  changed_when: false

- debug:
    var: "{{ curl_result.stdout }}"

- name: Parse curl JSON output
  set_fact:
    nic_json: "{{ curl_result.stdout | from_json }}"

- debug:
    var: "{{ nic_json }}"
