
- name: Retrieve BMC network interfaces via Redfish
  uri:
    url: "https://[{{ bmc_ip }}]/redfish/v1/Managers/1/EthernetInterfaces"
    method: GET
    user: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: 200
  register: bmc_eth_interfaces

- name: Parse Ethernet interface corresponding to given LLA
  set_fact:
    bmc_eth_id: >-
      {{
        bmc_eth_interfaces.json.Members
        | map(attribute='@odata.id')
        | select('search', bmc_lla_ip)
        | list
        | first
      }}

- debug: Parse Ethernet interface corresponding to given LLA
  var: {{ bmc_eth_id }}
