
- name: Get LLA from local interface
  ansible.builtin.raw: ip -6 neigh show | grep -i {{ bmc_lla_ip }} | awk '{print $3}' | head -n1
  vars:
    ansible_connection: ssh
    ansible_host: "{{ host }}"
    ansible_user: "{{ user }}"
    ansible_password: "{{ password }}"
  register: bmc_lla_interface_result

- name: Set interface fact
  set_fact:
    bmc_lla_interface: "{{ bmc_lla_interface_result.stdout | trim }}"

- name: Debug interface fact
  debug:
    msg: "{{ bmc_lla_interface }}"

- name: Debug pass
  debug:
    msg: "{{ new_redfish_password }}"

- name: Show execution host
  command: hostname
  delegate_to: mgen
  register: host_out

- debug:
    var: host_out.stdout

- name: Ping BMC via link-local
  command: ping6 -c 3 fe80::765d:22ff:fee4:18b6%eno2
  delegate_to: mgen

- name: Ping BMC via link-local
  command: hostname
  delegate_to: mgen

- name: Patch account via curl
  command: >
    curl -k -u {{ ru7_user }}:{{ ru7_password }}
    -X PATCH
    -H "Content-Type: application/json"
    -d '{"Password":"{{ new_redfish_password  }}"}'
    https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1
  delegate_to: mgen

- name: Patch account via curl
  command: >
    curl -k -u {{ ru7_user }}:{{ new_redfish_password }}
    -X PATCH
    -H "Content-Type: application/json"
    -d '{"Password":"{{ ru7_password  }}"}'
    https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1
  delegate_to: mgen

- name: Update fact for later tasks
  set_fact:
    redfish_password: "{{ new_redfish_password }}"
