
- name: Check where task is running
  command: hostname
  register: host_check

- debug:
    var: host_check.stdout

- name: Discover interface for BMC LLA
  shell: ip -6 neigh show | grep -i {{ bmc_lla_ip }} | awk '{print $3}' | head -n1
  register: bmc_lla_interface_result
  changed_when: false

- name: Set interface fact
  set_fact:
    bmc_lla_interface: "{{ bmc_lla_interface_result.stdout }}"

- name: Debug interface fact
  debug:
    msg: "{{ bmc_lla_interface_result }}"

- name: Generate new secure password
  set_fact:
    new_redfish_password: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters,digits') }}"

- name: Debug pass
  debug:
    msg: "{{ new_redfish_password }}"

- name: Patch Redfish admin account with new password
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1"
    method: PATCH
    user: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
    force_basic_auth: yes
    body_format: json
    body:
      Password: "{{ new_redfish_password }}"
    status_code: [200, 204]

- name: Update fact for later tasks
  set_fact:
    redfish_password: "{{ new_redfish_password }}"
