- name: Discover interface for BMC link local address
  ansible.builtin.raw: ip -6 neigh show | grep -i {{ bmc_lla_ip }} | awk '{print $3}' | head -n1
  delegate_to: mgen
  register: bmc_lla_interface_result

- name: Configure link-local address interface
  set_fact:
    bmc_lla_interface: "{{ bmc_lla_interface_result.stdout | trim }}"
    bmc_lla_ipv6: "{{ bmc_lla_ip }}"

- name: Wait until BMC is reachable over LLA
  vars:
    redfish_url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1"
  shell: curl -k --connect-timeout 5 {{ redfish_url }}
  register: bmc_status
  until: bmc_status.stdout == "200"
  failed_when: false
  retries: 3
  delay: 2
  delegate_to: mgen

- name: Inform that BMC is available
  debug:
    msg:
      - "BMC reboot completed successfully."
    
- name: Generate BMC secret
  set_fact:
    new_redfish_password: >-
      {{
        lookup('password', '/dev/null length=20 chars=ascii_letters,digits') +
        '!'
      }}

- name: Configure BMC Account
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1"
    method: PATCH
    user: "USERID"
    password: "PASSW0RD"
    force_basic_auth: yes
    validate_certs: no
    body_format: json
    body:
      Password: "{{ new_redfish_password }}"
    status_code: 200
