
- name: Discover interface for BMC link local address
  ansible.builtin.raw: ip -6 neigh show | grep -i {{ bmc_lla_ip }} | awk '{print $3}' | head -n1
  delegate_to: mgen
  register: bmc_lla_interface_result

- name: Configure link-local address interface
  set_fact:
    bmc_lla_interface: "{{ bmc_lla_interface_result.stdout | trim }}"
    bmc_lla_ipv6: "{{ bmc_lla_ip }}"

- name: Perform reset
  vars:
    redfish_url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/Managers/1/Actions/Manager.ResetToDefaults"
  shell: curl -k -L -s {{ redfish_url }}
  register: bmc_status
  failed_when: false
  delegate_to: mgen

- name: Reset result
  debug:
    msg: "{{ bmc_status }}"
  

- name: Wait for BMC to begin reboot
  pause:
    seconds: 30

- name: Display reboot status
  debug:
    msg: "BMC is rebooting... This may take 5-10 minutes"

- name: Wait until BMC is available
  vars:
    redfish_url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1"
  shell: curl -k -L -s {{ redfish_url }}
  register: bmc_status
  failed_when: false
  retries: 30
  delay: 10
  until:
    - bmc_status.rc == 0
    - bmc_status.stdout is search('RedfishVersion')
  delegate_to: mgen
  no_log: true

- name: Inform that BMC is available
  debug:
    msg:
      - "BMC reboot completed successfully."


- name: Generate complex password
  set_fact:
    new_redfish_password: >-
      {{
        lookup('password', '/dev/null length=20 chars=ascii_letters,digits') +
        '!'
      }}
      
- name: Display Password
  debug:
    msg: "{{ new_redfish_password }}"
    
- name: Change default BMC password
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1"
    method: PATCH
    user: "USERID"
    password: "PASSW0RD"
    force_basic_auth: yes
    validate_certs: no
    body_format: json
    body:
      Password: "{{ new_redfish_password }}"
    status_code: 200

- name: Configure BMC Account
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1"
    method: PATCH
    user: "USERID"
    password: "PASSW0RD"
    force_basic_auth: yes
    validate_certs: no
    body_format: json
    body:
      Password: "{{ new_redfish_password }}"
    status_code: 200
  delegate_to: mgen


- name: Inform that BMC is available
  debug:
    msg:
      - "BMC reboot completed successfully."
    
- name: Generate BMC secret
  set_fact:
    new_redfish_password: >-
      {{
        lookup('password', '/dev/null length=20 chars=ascii_letters,digits') +
        '!'
      }}
- name: Configure BMC Account
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1"
    method: PATCH
    user: "USERID"
    password: "PASSW0RD"
    force_basic_auth: yes
    validate_certs: no
    body_format: json
    body:
      Password: "{{ new_redfish_password }}"
    status_code: 200
  delegate_to: mgen
