
- name: Discover interface for BMC link local address
  shell: |
    for iface in $(ls /sys/class/net); do
      ping -6 -c1 -I $iface {{ bmc_lla_ip }} >/dev/null 2>&1 && echo $iface
    done
  register: detected_iface
  delegate_to: mgen
  failed_when: detected_iface.stdout_lines|length == 0
  changed_when: false

- name: Set BMC link local address interface
  set_fact:
    bmc_lla_interface: "{{ detected_iface.stdout_lines[0] | trim }}"

- name: Wait until BMC is available
  vars:
    redfish_url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1"
  shell: curl -k -L -s {{ redfish_url }}
  register: bmc_status
  failed_when: false
  retries: 30
  delay: 10
  until:
    - bmc_status.rc == 0
    - bmc_status.stdout is search('RedfishVersion')
  delegate_to: mgen
  no_log: true

- name: Inform that BMC is available
  debug:
    msg:
      - "BMC reboot completed successfully."

- name: Wait for SSH service
  wait_for:
    host: "[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]"
    port: 22
    timeout: 600
  delegate_to: mgen

- name: Generate BMC secret
  set_fact:
    updated_bmc_password: >-
      {{
        lookup('password', '/dev/null length=20 chars=ascii_letters,digits') +
        '!'
      }}
  
- name: Configure BMC Account
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]/redfish/v1/AccountService/Accounts/1"
    method: PATCH
    user: "{{ bmc_username }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    body_format: json
    body:
      Password: "{{ latest_redfish_password }}"
    status_code: 200
  delegate_to: mgen
