---
- name: Configure High Speed switches
  hosts: all
  gather_facts: false

  tasks:
    - name: Print the hostname
      ansible.builtin.debug:
        var: skip_playbook_dev_env
      
    - name: "Check hostname"
      ansible.builtin.command: hostname
      register: hostname_output

    - name: Print the hostname
      ansible.builtin.debug:
        var: hostname_output.stdout

    - name: "Configure ip address"
      ansible.builtin.shell: |
        nv set interface eth0 ip address 169.254.4.1/24
        nv config apply
        nv config save
        
    - name: Apply multiple NVUE configurations
      nvidia.nvue.command:
        commands:
          - "set interface eth0 ip address 169.254.1.4/24"
          - "set interface eth0 link state up"
        apply: true
        assume_yes: true
      when: skip_playbook_dev_env | bool
