- name: Retrieve details of network configuration 
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]{{ redfish_urls.ethernet }}
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: [200]
  register: current_network
  delegate_to: mgen

- name: Retrieve network interface from discovery response
  set_fact:
    network_interface_uri: "{{ current_network.json.Members[0]['@odata.id'] }}"
  when: current_network.json.Members | length > 0
    
- name: Retrieve network interface details
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]{{ network_interface_uri }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    return_content: yes
  register: network_interface_detail
  delegate_to: mgen
  when: network_interface_uri is defined

- name: Retrieve existing network configuration
  set_fact:
    current_mac: "{{ network_interface_detail.json.MACAddress | default('Not available') }}"
    current_ipv6_addresses: "{{ network_interface_detail.json.IPv6Addresses | default([]) }}"
    current_ipv6_addr: "{{ network_interface_detail.json.IPv6Addresses[0].Address | default('') }}"
    current_dhcp: "{{ network_interface_detail.json.DHCPv4.DHCPEnabled | default(false) }}"
    
- name: Check if IPv6 address needs update
  set_fact:
    ipv6_needs_update: "{{ ipv6_address is defined and current_ipv6_addr != ipv6_address }}"

- name: Configure Network Settings
  uri:
    url: "https://[{{ bmc_lla_ip }}%{{ bmc_lla_interface }}]{{ network_interface_uri }}"
    method: PATCH
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      DHCPv6: 
        OperatingMode: "{{ 'Enabled' if bmc_network.dhcp6_enabled | bool else 'Disabled' }}"
      DHCPv4:
        Enabled: "{{ bmc_network.dhcp6_enabled | bool }}"
      IPv6StaticAddresses:
        - Address: "{{ ipv6_address }}"
          SubnetMask: "{{ ipv6_netmask | default('255.255.0.0') }}"
          Gateway: "{{ bmc_network.ipv6_gateway }}"
      IPv4StaticAddresses:
        - Address: "{{ ipv4_address }}"
          SubnetMask: "{{ ipv4_netmask | default('255.255.0.0') }}"
      SLAAC:
            Enabled: "{{ bmc_network.stateless_autoconfig_enabled | bool }}"
      Oem:
        Lenovo:
          NetworkSettingSync: "{{ bmc_network.name_server_sync_enabled | bool }}"
    status_code: [200, 204]
  delegate_to: mgen  
  register: ipv6_oem_config
  when:
    - ipv6_address is defined
    - ipv6_needs_update | bool
    - bmc_network.name_server_sync_enabled is defined

- name: Wait for network configuration to be effective
  pause:
    seconds: 30
