- name: Check storage volumes
  uri:
    url: "{{ bmc_storage_url}}/{{ controller_config.url_suffix }}/Volumes"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    return_content: yes
  register: volumes_response

- name: Print volume details
  debug:
    var: volumes_response.json

- name: Validate storage volumes
  debug:
    msg: "No volumes found in M.2 storage!"
  when: volumes_response.json.Members is not defined or volumes_response.json.Members | length == 0



