- name: Check storage volumes
  uri:
    url: "https://<server-ip>/redfish/v1/Systems/1/Storage/M.2/Volumes"
    method: GET
    user: "{{ redfish_user }}"
    password: "{{ redfish_pass }}"
    force_basic_auth: yes
    validate_certs: no
    return_content: yes
  register: volumes_response

- name: Print volume details
  debug:
    var: volumes_response.json

- name: Validate that volumes exist
  debug:
    msg: "No volumes found in M.2 storage!"
  when: volumes_response.json.Members is not defined or volumes_response.json.Members | length == 0



