# Create RAID volume
  
 - name: Get available drives
      uri:
        url: "{{ bmc_system_url }}/Storage/{{ storage_controller_id }}/Drives"
        method: GET
        user: "{{ bmc_user }}"
        password: "{{ bmc_password }}"
        validate_certs: no
        force_basic_auth: yes
        return_content: yes
        status_code: [200]
      register: drives_info
      delegate_to: "{{ bmc_delegate_host }}"

    - name: Create Lenovo RAID volume using Redfish API
      uri:
        url: "{{ bmc_system_url }}/Storage/{{ storage_controller_id }}/Volumes"
        method: POST
        user: "{{ bmc_user }}"
        password: "{{ bmc_password }}"
        validate_certs: no
        force_basic_auth: yes
        body_format: json
        body:
          Name: "{{ raid_config.volume_name }}"
          RAIDType: "{{ raid_config.raid_level | upper }}"
          Drives: "{{ physical_disks | map('regex_replace', '^.*/', '') | map('regex_replace', '^', '/redfish/v1/Systems/' + lenovo_system_id + '/Storage/' + storage_controller_id + '/Drives/') | list }}"
          CapacityBytes: null
          StripSizeBytes: "{{ raid_config.stripe_size | regex_replace('[kK]', '000') | int }}"
        status_code: [200, 201, 202, 204]
      register: volume_create
      delegate_to: "{{ bmc_delegate_host }}"
      retries: "{{ lenovo_create_retries }}"
      delay: 30
      until: lenovo_volume_create.status in [200, 201, 202, 204]
      failed_when: false
