---
- name: Extract volume ID
  set_fact:
    volume_id: "{{ (volumes.json.Members | default([]) | first | default({})).get('@odata.id','').split('/')[-1] }}"

- name: Build volume list
  set_fact:
    volume_list: "{{ volumes_response.json | default({}) | json_query('Members[].\"@odata.id\"') | default([]) }}"

- name: Debug volume list
  debug:
    msg: "{{ volume_list }}"

- name: Debug BMC IP before cleanup
  debug:
    msg: "https://{{ bmc_ip }}"

- name: Configure BMC endpoint
  set_fact:
    bmc_ip: "{{ bmc_ip | regex_replace('/$', '') }}"

- name: Debug BMC IP after cleanup
  debug:
    msg: "https://{{ bmc_ip }}"

- name: Delete existing RAID volumes
  uri:
    url: "https://{{ bmc_ip }}{{ item }}"
    method: DELETE
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    status_code: [200, 202, 204]
  loop: "{{ volume_list }}"
  register: delete_results
  delegate_to: "{{ bmc_delegate_host }}"
  when: volume_list | length > 0

- name: Debug delete results
  debug:
    msg: "{{ delete_results }}"

- name: Restart Server
  uri:
    url: "{{ bmc_systems_url }}/Actions/ComputerSystem.Reset"
    method: POST
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    body_format: json
    body:
      ResetType: "ForceRestart"
    status_code: [200, 204]
  delegate_to: "{{ bmc_delegate_host }}"

- name: Wait for system to reach setup state
  uri:
    url: "{{ bmc_systems_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: [200]
  register: power_state_check
  delegate_to: "{{ bmc_delegate_host }}"
  retries: "{{ max_retries }}"
  delay: "{{ delay_power_on }}"
  until: >
    power_state_check.json.PowerState is defined and
    power_state_check.json.PowerState == "On"
  failed_when: false

- name: Wait for storage controller discovery
  uri:
    url: "{{ bmc_storage_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
  register: storage_list
  retries: "{{ max_retries }}"
  delay: "{{ delay_power_on }}"
  until:
    - storage_list.status == 200
    - storage_list.json.Members | length > 0
  delegate_to: "{{ bmc_delegate_host }}"

- name: Delete the selected volume
  uri:
    url: "{{ bmc_storage_url }}/{{ storage_config.storage_controller_id }}/Volumes/{{ volume_id }}"
    method: DELETE
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200, 204]
  register: delete_response
  delegate_to: "{{ bmc_delegate_host }}"
  when: volume_id != ""

- name: Check deleted volume
  uri:
    url: "{{ bmc_storage_url }}/{{ storage_config.storage_controller_id }}/Volumes"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200, 204]
  register: volume_response
  delegate_to: "{{ bmc_delegate_host }}"

- name: Fail if volume still exists
  fail:
    msg: "Volume {{ volume_id }} was not deleted!"
  when: "'/Volumes/' ~ volume_id in (volume_response.json.Members | map(attribute='@odata.id') | list)"

- name: Confirm deletion success
  debug:
    msg: "Volume {{ volume_id }} successfully deleted."
