# Delete RAID volume

  - name: Extract first volume ID
    set_fact:
      volume_id: "{{ volumes.json.Members[0]['@odata.id'].split('/')[-1] }}"

  - name: Show selected volume for deletion
    debug:
       msg: "Deleting volume: {{ volume_id }}"

  - name: Delete the selected volume
    uri:
      url: "{{ bmc_storage_url}}/{{ controller_config.url_suffix }}/Volumes/{{ volume_id }}"
      method: DELETE
      user: "{{ bmc_user }}"
      password: "{{ bmc_password }}"
      force_basic_auth: yes
      validate_certs: no
      status_code: 200,204
    register: delete_response

  - name: Confirm deletion
    debug:
      msg: "Deleting volume response: {{ delete_response.status }}"

  - name: Check deleted volume
    uri:
      url: "{{ bmc_storage_url}}/{{ controller_config.url_suffix }}/Volumes/{{ volume_id }}"
      method: GET
      user: "{{ bmc_user }}"
      password: "{{ bmc_password }}"
      force_basic_auth: yes
      validate_certs: no
      status_code: 200,204
    register: volume_response

  - name: Fail if volume still exists
    fail:
      msg: "Volume {{ volume_id }} was not deleted!"
    when: "'/Volumes/' ~ volume_id in (delete_response.json.Members | map(attribute='@odata.id') | list)"

  - name: Confirm deletion success
    debug:
      msg: "Volume {{ volume_id }} successfully deleted."
