---
- name: Extract volume ID
  set_fact:
    volume_id: "{{ (volumes.json.Members | default([]) | first | default({})).get('@odata.id','').split('/')[-1] }}"

- name: Build volume list
  set_fact:
    volume_list: "{{ volumes_response.json | default({}) | json_query('Members[].\"@odata.id\"') | default([]) }}"

- debug:
    msg: "{{ volume_list }}"

- debug:
    msg: "https://{{ bmc_ip }}"

- name: Configure BMC endpoint
  set_fact:
    bmc_ip: "{{ bmc_ip | regex_replace('/$', '') }}"

- debug:
    msg: "https://{{ bmc_ip }}"

- name: Send graceful shutdown command
  uri:
    url: "{{ bmc_systems_url }}{{ power_config.url_suffix }}"
    method: POST
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
    force_basic_auth: true
    body_format: json
    body:
      ResetType: "GracefulShutdown"
    status_code: [200, 202, 204]
  delegate_to: localhost
  register: power_off_result
  ignore_errors: true

- name: Force power off if graceful shutdown fails
  uri:
    url: "{{ bmc_systems_url }}{{ power_config.url_suffix }}"
    method: POST
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
    force_basic_auth: true
    body_format: json
    body:
      ResetType: "ForceOff"
    status_code: [200, 202, 204]
  delegate_to: localhost
  when: power_off_result is failed

- name: Wait for system to power off
  pause:
    seconds: 60

- name: Delete existing RAID volumes
  uri:
    url: "https://{{ bmc_ip }}{{ item }}"
    method: DELETE
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    status_code: [200, 202, 204]
  loop: "{{ volume_list }}"
  register: delete_results
  delegate_to: "{{ bmc_delegate_host }}"
  when: volume_list | length > 0

- debug:
    msg: "{{ delete_results }}"

- name: Collect task URIs from delete response
  set_fact:
    delete_task_uris: >-
      {{
        delete_results.results
        | selectattr('status','equalto',202)
        | map(attribute='location')
        | list
      }}
  when: delete_results is defined

- debug:
    msg: "{{ delete_task_uris }}"

- name: Wait for delete tasks to complete
  uri:
    url: "https://{{ bmc_ip }}{{ item }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
  register: task_status
  until: >
    task_status.json.TaskState == "Completed"
    and (task_status.json.TaskStatus | default('OK')) in ['OK','Completed','Success']
  retries: 60
  delay: 10
  loop: "{{ delete_task_uris }}"
  delegate_to: "{{ bmc_delegate_host }}"
  when: delete_task_uris | length > 0

- debug:
    msg: "{{ task_status }}"

- name: Delete the selected volume
  uri:
    url: "{{ bmc_storage_url }}/{{ storage_config.storage_controller_id }}/Volumes/{{ volume_id }}"
    method: DELETE
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200, 204]
  register: delete_response
  delegate_to: "{{ bmc_delegate_host }}"
  when: volume_id != ""

- name: Check deleted volume
  uri:
    url: "{{ bmc_storage_url }}/{{ storage_config.storage_controller_id }}/Volumes"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200, 204]
  register: volume_response
  delegate_to: "{{ bmc_delegate_host }}"

- name: Fail if volume still exists
  fail:
    msg: "Volume {{ volume_id }} was not deleted!"
  when: "'/Volumes/' ~ volume_id in (volume_response.json.Members | map(attribute='@odata.id') | list)"

- name: Confirm deletion success
  debug:
    msg: "Volume {{ volume_id }} successfully deleted."
