- name: Extract volume ID
  set_fact:
    volume_id: "{{ (volumes.json.Members | default([]) | first | default({})).get('@odata.id','').split('/')[-1] }}"

- name: Build volume list
  set_fact:
    volume_list: "{{ volumes_response.json | default({}) | json_query('Members[].\"@odata.id\"') | default([]) }}"

- debug:
    msg: "{{ volume_list }}"

- name: Delete existing RAID volumes
  uri:
    url: "https://{{ bmc_ip }}{{ item }}"
    method: DELETE
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    status_code: [200, 202, 204]
  loop: "{{ volume_list }}"
  register: delete_results
  when: volume_list | length > 0

- debug:
    msg: "{{ delete_results }}"

- name: Delete the selected volume
  uri:
    url: "{{ bmc_storage_url}}/{{ storage_config.storage_controller_id }}/Volumes/{{ volume_id }}"
    method: DELETE
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: 200,204
  register: delete_response
  delegate_to: "{{ bmc_delegate_host }}"
  when: volume_id != ""

- name: Check deleted volume
  uri:
    url: "{{ bmc_storage_url}}/{{ storage_config.storage_controller_id }}/Volumes"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: 200,204
  register: volume_response
  delegate_to: "{{ bmc_delegate_host }}"

- name: Fail if volume still exists
  fail:
    msg: "Volume {{ volume_id }} was not deleted!"
  when: "'/Volumes/' ~ volume_id in (volume_response.json.Members | map(attribute='@odata.id') | list)"

- name: Confirm deletion success
  debug:
    msg: "Volume {{ volume_id }} successfully deleted."
