- name: Wait for storage controller discovery
  uri:
    url: "{{ bmc_storage_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
  register: storage_list
  retries: "{{ max_retries }}"
  delay: "{{ delay_power_on }}"
  until:
    - storage_list.status == 200
    - storage_list.json.Members | length > 0
  delegate_to: "{{ bmc_delegate_host }}"

- name: Verify all RAID volumes are deleted
  uri:
    url: "{{ bmc_storage_url}}/{{ controller_name }}/Volumes"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
  register: volumes_check
  retries: 20
  delay: 15
  until: volumes_check.json.Members | length == 0
  delegate_to: "{{ bmc_delegate_host }}"

- name: Confirm deletion success
  debug:
    msg: "Volume {{ volume_id }} successfully deleted."
