
# Check and verify storage controller (vendor-agnostic)

- name: Get storage collection
  uri:
    url: "https://{{ bmc_ip }}/redfish/v1/Systems/{{ system_id }}/Storage"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_pass }}"
    validate_certs: no
  register: storage_collection

- name: Extract storage controller id
  set_fact:
    storage_controller_id: >-
      {{
        storage_collection.json.Members[0]['@odata.id']
        | regex_replace('.*/Storage/', '')
      }}
- debug:
    msg: "{{ storage_controller_id }}"
    
- name: Retrieve storage controllers
  uri:
    url: "{{ bmc_storage_url}}/{{ storage_controller_id }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: [200]
  register: storage_info
  delegate_to: "{{ bmc_delegate_host }}"

- name: Ensure storage controllers list is not empty
  fail:
    msg: "No storage controllers found!"
  when: storage_info.json.StorageControllers | length == 0

- name: Storage Configuration
  set_fact:
    m2_storage: "{{ storage_info }}"
