
# Check and verify storage controller (vendor-agnostic)

- name: Retrieve storage collection
  uri:
    url: "{{ bmc_storage_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
  register: storage_collection
  delegate_to: "{{ bmc_delegate_host }}"

- debug:
    msg: "{{ storage_collection.json.Members }}"

- name: Extract storage controller path
  set_fact:
    storage_controller_id: >-
      {{ storage_collection.json.Members
         | select('search', storage_config.storage_controller_name)
         | list
         | first
         | default('') }}
        
- name: Fail if Storage controller not present
  fail:
    msg: "Boot Optimized Storage Subsystem (BOSS) not found on this Dell system."
  when: storage_controller_id is not defined
  
- debug:
    msg: "{{ bmc_storage_url}}/{{ storage_controller_id }}"

- name: Retrieve storage controllers
  uri:
    url: "{{ bmc_storage_url}}/{{ storage_controller_id }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: [200]
  register: storage_info
  delegate_to: "{{ bmc_delegate_host }}"

- name: Ensure storage controllers list is not empty
  fail:
    msg: "No storage controllers found!"
  when: storage_info.json.StorageControllers | length == 0

- name: Storage Configuration
  set_fact:
    m2_storage: "{{ storage_info }}"
