
- name: Reset BMC
  community.general.redfish_command:
    category: Manager
    command: GracefulRestart
    baseuri: "{{ bmc_ip }}"
    username: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: false

- name: Wait for BMC HTTPS to come back
  wait_for:
    host: "{{ bmc_ip }}"
    port: 443
    timeout: "{{ xcc_wait_timeout }}"
  delegate_to: localhost

- name: Wait until Redfish responds
  uri:
    url: "https://{{ bmc_ip }}/redfish/v1"
    method: GET
    user: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
    force_basic_auth: yes
  register: redfish_ready
  retries: "{{ xcc_wait_retries }}"
  delay: "{{ xcc_wait_delay }}"
  until: redfish_ready.status == 200

  
