---
# Clean queued jobs in iDRAC using Redfish API
# Equivalent to: idrac.cleanJobs()

- name: Get list of jobs from iDRAC
  uri:
    url: "{{ bmc_base_url }}{{ bmc_urls.jobs }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: [200, 201]
  register: idrac_jobs
  delegate_to: localhost

- name: Display current jobs
  debug:
    msg: "Found {{ idrac_jobs.json.Members | length }} jobs in queue"
  when: idrac_jobs.json.Members is defined

- name: Delete queued jobs
  uri:
    url: "{{ bmc_base_url }}{{ item['@odata.id'] }}"
    method: DELETE
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    status_code: [200, 204]
  loop: "{{ idrac_jobs.json.Members }}"
  when: 
    - idrac_jobs.json.Members is defined
    - idrac_jobs.json.Members | length > 0
  delegate_to: localhost
  ignore_errors: yes

- name: Wait for job queue to clear
  pause:
    seconds: 5
