# Configure iDRAC Logging and supportAssist

- name: Configure iDRAC Logging
  uri:
    url: "{{ bmc_base_url }}{{ bmc_urls.attributes }}"
    method: PATCH
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    headers:
      Content-Type: application/json
    body_format: json
    body:
      Attributes:
        SysLog.SysLogEnable: "Enabled"
        Logging.1.LCLogAggregation: "Enabled"
    status_code:
      - 200
      - 204
  delegate_to: "{{ bmc_delegate_host }}"
  when:
    - bmc_capabilities.requires_logging_and_supportAssist is defined
    - bmc_capabilities.requires_logging_and_supportAssist | bool

# Accept EULA License on iDRAC using Redfish API
# Equivalent to: idrac.command("racadm supportassist accepteula")
  
- name: Check SupportAssist EULA status
  uri:
    url: "{{ bmc_base_url }}{{ bmc_urls.supportAssist}}"
    method: POST
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    body_format: json
    body: {}
    status_code: [200, 202]
  register: eula_status
  delegate_to: "{{ bmc_delegate_host }}"
  when:
    - bmc_capabilities.requires_logging_and_supportAssist is defined
    - bmc_capabilities.requires_logging_and_supportAssist | bool

- name: Accept SupportAssist EULA
  uri:
    url: "{{ bmc_base_url }} {{ bmc_urls.acceptSupportAssist }}"
    method: POST
    user: "{{ ansible_user }}"
    password: "{{ ansible_password }}"
    validate_certs: no
    force_basic_auth: yes
    body_format: json
    body: {}
    status_code: [200, 202, 204]
  register: eula_accept
  delegate_to: "{{ bmc_delegate_host }}"
  when:
    - bmc_capabilities.requires_logging_and_supportAssist is defined
    - bmc_capabilities.requires_logging_and_supportAssist | bool
    - eula_status is defied

- name: Display EULA acceptance status
  debug:
    msg: "SupportAssist EULA accepted successfully"
  when: eula_accept is succeeded
