---
# Configure Operating mode (Performance settings) on iDRAC using Redfish API
# Equivalent to: idrac.setOperatingmode()
# IDEMPOTENT: Checks current BIOS settings before applying changes

- name: Get Systems collection
  uri:
    url: "{{ bmc_base_url }}{{ bmc_urls.systems }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200]
  register: systems_list
  delegate_to: "{{ bmc_delegate_host }}"

- set_fact:
    system_id: "{{ systems_list.json.Members[0]['@odata.id'].split('/')[-1] }}"
    
- name: Debug BMC system url
  debug:
    msg: "'{{ bmc_systems_url }}'" 
    
- set_fact:
    bios_url: "{{ bmc_systems_url }}/Bios"

- name: Retrieve current BIOS attributes
  uri:
    url: "{{ bios_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200]
  register: current_bios
  delegate_to: "{{ bmc_delegate_host }}"
  
- name: Extract current performance settings
  set_fact:
    current_operating_mode: "{{ current_bios.json.Attributes.get(operating_mode.attribute_key, '') }}"

- name: Debug current performance settings
  debug:
    msg: "{{ current_operating_mode }}"
  

- name: Check if performance settings need update
  set_fact:
    performance_needs_update: >-
      {{
        current_operating_mode != operating_mode.desired_operating_mode
      }}

- name: Display current performance configuration
  debug:
    msg:
      - "Performance update needed: {{ performance_needs_update }}"

- name: Debug current performance settings
  debug:
    msg: "{{ bios_url }}/Settings"
  
- name: Set System Profile to Performance
  uri:
    url: "{{ bios_url }}/Settings"
    method: PATCH
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: no
    force_basic_auth: yes
    body_format: json
    body:
      Attributes:
        operating_mode.attribute_key: operating_mode.desired_operating_mode
    status_code: [200, 202]
  register: performance_config
  delegate_to: "{{ bmc_delegate_host }}"
  #when: performance_needs_update | bool
  changed_when: performance_config.status in [200, 202]

- name: Performance settings already optimal
  debug:
    msg: "System already configured for maximum performance - no change needed"
  when: not (performance_needs_update | bool)
