---
# Configure Operating mode (Performance settings) on iDRAC using Redfish API
# Equivalent to: idrac.setOperatingmode()
# IDEMPOTENT: Checks current BIOS settings before applying changes

- name: Get Systems collection
  uri:
    url: "{{ bmc_base_url }}{{ bmc_urls.systems }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200]
  register: systems_list
  delegate_to: "{{ bmc_delegate_host }}"

- name: Get first system ID
  set_fact:
    system_id: "{{ systems_list.json.Members[0]['@odata.id'].split('/')[-1] }}"
    systems_url: "{{ bmc_base_url }}{{ bmc_urls.systems }}/{{ system_id }}/Bios"

- name: Get current BIOS attributes
  uri:
    url: "{{ systems_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: [200]
  register: current_bios
  delegate_to: "{{ bmc_delegate_host }}"
  
- name: Extract current performance settings
  set_fact:
    current_sys_profile: "{{ current_bios.json.Attributes.SysProfile | default('') }}"
    current_proc_c1e: "{{ current_bios.json.Attributes.ProcC1E | default('') }}"
    current_proc_cstates: "{{ current_bios.json.Attributes.ProcCStates | default('') }}"
    current_turbo_mode: "{{ current_bios.json.Attributes.ProcTurboMode | default('') }}"

- name: Check if performance settings need update
  set_fact:
    performance_needs_update: >-
      {{
        current_sys_profile != 'PerfOptimized' or
        current_proc_c1e != 'Disabled' or
        current_proc_cstates != 'Disabled' or
        current_turbo_mode != 'Enabled'
      }}

- name: Display current performance configuration
  debug:
    msg:
      - "Current System Profile: {{ current_sys_profile }}"
      - "Operating mode: {{ current_bios.json.Attributes.OperatingModes }}"
      - "Performance update needed: {{ performance_needs_update }}"

- name: Set System Profile to Performance
  uri:
    url: "{{ systems_url }}/Settings"
    method: PATCH
    user: "{{ ansible_user }}"
    password: "{{ ansible_password }}"
    validate_certs: no
    force_basic_auth: yes
    body_format: json
    body:
      Attributes:
        OperatingModes: "MaximumPerformance"
        SysProfile: "PerfOptimized"
        ProcC1E: "Disabled"
        ProcCStates: "Disabled"
        MemFrequency: "MaxPerf"
        ProcTurboMode: "Enabled"
        ProcPwrPerf: "MaxPerf"
    status_code: [200, 202]
  register: performance_config
  delegate_to: localhost
  when: performance_needs_update | bool
  changed_when: performance_config.status in [200, 202]

- name: Performance settings already optimal
  debug:
    msg: "System already configured for maximum performance - no change needed"
  when: not (performance_needs_update | bool)
