
# Enable IPMI over LAN using Redfish API

############################################
# Get Manager ID (Works for all vendors)
############################################

- name: Get Managers collection
  uri:
    url: "{{ bmc_base_url }}{{ bmc_urls.managers }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
  register: managers_response
  delegate_to: "{{ bmc_delegate_host }}"

- set_fact:
    manager_id: "{{ managers_response.json.Members[0]['@odata.id'].split('/')[-1] }}"

- set_fact:
    network_protocol_url: "{{ bmc_base_url }}{{ bmc_urls.managers }}/{{ manager_id }}/NetworkProtocol"

############################################
# Check existing IPMI status 
############################################

- name: Get Network Protocol settings
  uri:
    url: "https://{{ bmc_ip }}/redfish/v1/Managers/{{ manager_id }}/NetworkProtocol"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
  register: network_protocol
  delegate_to: "{{ bmc_delegate_host }}"

- name: Display IPMI status
  debug:
    msg: "IPMI Enabled = {{ network_protocol.json.IPMI.ProtocolEnabled }}"

- name: Display url
  debug:
    msg: "network url: {{ network_protocol_url }}"

############################################
# Enable IPMI Over LAN 
############################################

- name: Enable IPMI over LAN (Dell)
  uri:
    url: "{{ network_protocol_url }}"
    method: PATCH
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    body_format: json
    body:
      IPMI:
        ProtocolEnabled: true
    status_code: 200,204
  when: not network_protocol.json.IPMI.ProtocolEnabled
  delegate_to: "{{ bmc_delegate_host }}"
