# Configure ports 

- name: Configure management port
  uri:
    url: "{{ bmc_base_url }}{{ port_config.url }}"
    method: PATCH
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
    body_format: json
    body: "{{ port_config.body }}"
    status_code: [200, 202, 204]
  register: ports_config
  delegate_to: "{{ bmc_delegate_host }}"
