
#Configuration of Power recovery

- name: Set AC Power Recovery to Last state
  uri:
    url: "{{ bmc_base_url }}{{ bmc_urls.bios }}"
    method: PATCH
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    force_basic_auth: yes
    validate_certs: no
    headers:
      Content-Type: application/json
    body_format: json
    body:
      Attributes:
        AcPwrRcvry: "Last"
    status_code:
      - 200
      - 202
      - 204
  delegate_to: "{{ bmc_delegate_host }}"
  when:
    - bmc_capabilities.requires_power_recovery is defined
    - bmc_capabilities.requires_power_recovery | bool


- name: Configure Power Restore policies
  delegate_to: "{{ bmc_delegate_host }}"
  shell: >
    sshpass -p '{{ hostvars[inventory_hostname].new_redfish_password }}'
    ssh -6
    {{ bmc_ssh_options | join(' ') }}
    {{ hostvars[inventory_hostname].bmc_user }}@{{ hostvars[inventory_hostname].bmc_ip }}
    "power -rp {{ powerrp }} && usbeth -en enabled"
  register: ssh_result
  failed_when: ssh_result.rc != 0
  when: bmc_capabilities.require_ssh_for_power is defined
