# roles/bmc_config/tasks/discover.yml

- name: Get Managers
  uri:
    url: "https://{{ ipv6ULA }}/redfish/v1/Managers"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: managers

- name: Set manager URL
  set_fact:
    redfish_manager_url: "{{ managers.json.Members[0]['@odata.id'] }}"

- name: Debug manager URL
  debug:
    msg: "redfish_manager_url: {{ managers.json.Members[0]['@odata.id'] }}"

- name: Get Redfish root
  uri:
    url: "https://{{ ipv6ULA }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: redfish_root

- name: Set vendor fact
  set_fact:
    bmc_vendor: "{{ redfish_root.json.Vendor | lower }}"

    
