# roles/bmc_config/tasks/discover.yml

- name: Set Redfish base url
  set_fact:
    redfish_base_url: >-
      https://{{
        '[' + ipv6ULA + ']'
        if ipv6ULA is defined and ipv6ULA|length > 0
        else ipv4
      }}

- name: Debug url
  debug:
    msg: "redfish_base_url: {{ redfish_base_url }}"
    
- name: Get Systems
  uri:
    url: "{{ redfish_base_url }}/redfish/v1/Systems"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: systems
    
- name: Get System details
  uri:
    url: "{{ redfish_base_url }}{{ systems.json.Members[0]['@odata.id'] }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: system_details

- name: Detect vendor
  set_fact:
    bmc_vendor: "{{ system_details.json.Oem.keys() | list | first }}"

- name: Debug vendor
  debug:
    msg: "vendor: {{ bmc_vendor }}"
    
- name: Load vendor variables
  include_vars:
    file: "vendors/{{ bmc_vendor }}.yml"
    dir: "{{ role_path }}/vars"

- name: Discover interface for BMC link local address
  shell: |
    for iface in $(ls /sys/class/net); do
      ping -6 -c1 -I $iface {{ bmc_lla_ip }} >/dev/null 2>&1 && echo $iface
    done
  register: detected_iface
  delegate_to: mgen
  failed_when: detected_iface.stdout_lines|length == 0
  changed_when: false

- name: Configure BMC link local address interface
  set_fact:
    bmc_lla_interface: "{{ detected_iface.stdout_lines[0] | trim }}"

- name: Debug interface
  debug:
    var: "interface: {{ bmc_lla_interface }}"
