# roles/bmc_config/tasks/discover.yml

- name: Reset BMC IP Variables
  set_fact:
    ipv4_clean: "{{ ipv4 | default('') | replace('\n','') | replace('\r','') | trim }}"
    ipv6_clean: "{{ ipv6ULA | default('') | replace('\n','') | replace('\r','') | trim }}"

- name: Generate BMC Base Endpoint
  set_fact:
    bmc_base_url: >-
      {% if ipv4_clean | length > 0 %}
      https://{{ ipv4_clean }}
      {% elif ipv6_clean | length > 0 %}
      https://[{{ ipv6_clean }}]
      {% else %}
      
      {% endif %}

- name: Configure BMC Base Endpoint
  set_fact:
    bmc_base_url: "{{ bmc_base_url | trim }}"

- name: Configure BMC IP address
  set_fact:
    bmc_ip: >-
      {{ ipv4_clean
         if (ipv4 is defined and ipv4 | length > 0)
         else '[' ~ ipv6_clean ~ ']'}}

- name: Configure delegate host
  set_fact:
    bmc_delegate_host: >-
      {{ 'localhost'
         if (ipv4 is defined and ipv4 | length > 0)
         else 'jump-host' }}

- name: Normalize BMC delegate host
  set_fact:
    bmc_delegate_host: "{{ bmc_delegate_host | trim }}"
         
- name: Retrieve Systems information
  uri:
    url: "{{ bmc_base_url }}/redfish/v1/Systems"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: "{{ bmc_delegate_host }}"
  register: systems
  
- set_fact:
    bmc_systems_url: "{{ bmc_base_url }}{{ systems.json.Members[0]['@odata.id'] }}"
    
- name: Retrieve System details
  uri:
    url: "{{ bmc_systems_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: "{{ bmc_delegate_host }}"
  register: system_details

- set_fact:
    bmc_systems_details: "{{ system_details }}"

- name: Retrieve Manager information
  uri:
    url: "{{ bmc_base_url }}/redfish/v1/Managers"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: "{{ bmc_delegate_host }}"
  register: managers
  
- set_fact:
    bmc_manager_url: "{{ bmc_base_url }}{{ managers.json.Members[0]['@odata.id'] }}"

- name: Configure vendor
  set_fact:
    bmc_vendor: "{{ system_details.json.Oem.keys() | list | first | lower }}"

- name: Load vendor variables
  include_vars: "vendors/{{ bmc_vendor }}.yml"

- name: Initialize derived URLs
  set_fact:
    bmc_bios_url: "{{ bmc_systems_url }}/Bios"
    bmc_reset_url: "{{ bmc_manager_url }}/Actions/{{ bmc_reset.url_suffix }}"
    bmc_manager_ethernet_url: "{{ bmc_manager_url }}/EthernetInterfaces"

  
- name: Discover interface for BMC link local address
  shell: |
    for iface in $(ls /sys/class/net); do
      ping -6 -c1 -I $iface {{ ipv6ULA }} >/dev/null 2>&1 && echo $iface
    done
  register: detected_iface
  delegate_to: jump-host
  failed_when: detected_iface.stdout_lines|length == 0
  changed_when: false

- name: Configure BMC link local address interface
  set_fact:
    bmc_lla_interface: "{{ detected_iface.stdout_lines[0] | trim }}"

- name: Debug interface
  debug:
     var: "interface: {{ bmc_lla_interface }}"
