# roles/bmc_config/tasks/discover.yml

- name: Set Redfish base url
  set_fact:
    redfish_base_url: >-
      https://{{
        '[' + ipv6ULA + ']'
        if ipv6ULA is defined and ipv6ULA|length > 0
        else ipv4
      }}

- name: Debug url
  debug:
    msg: "redfish_base_url: {{ redfish_base_url }}"
    
- name: Get Systems
  uri:
    url: "{{ redfish_base_url }}/redfish/v1/Systems"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: systems
    
- name: Get System details
  uri:
    url: "{{ redfish_base_url }}{{ systems.json.Members[0]['@odata.id'] }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: system_details

- name: Detect vendor
  set_fact:
    bmc_vendor: "{{ system_details.json.Oem.keys() | list | first }}"
   
- name: Debug vendor
  debug:
    msg: "vendor: {{ bmc_vendor }}"
    
