# roles/bmc_config/tasks/discover.yml

- name: Get Managers
  uri:
    url: "https://[{{ ipv6ULA }}]/redfish/v1/Managers"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: managers

- name: Set manager URL
  set_fact:
    redfish_base_url: "https://[{{ ipv6ULA }}]"
    redfish_manager_url: "{{ managers.json.Members[0]['@odata.id'] }}"
    
- name: Get manager details
  uri:
    url: "{{ redfish_base_url }}{{ redfish_manager_url }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: manager_details

- debug:
    var: manager_details.json

- name: Set vendor fact
  set_fact:
    bmc_vendor: "{{ manager_details.json.Manufacturer | lower }}"
 
- name: Debug vendor
  debug:
    msg: "bmc_vendor: {{ bmc_vendor }}"

    
