# roles/bmc_config/tasks/discover.yml

- name: Set Redfish base url
  set_fact:
    ipv4: "{{ ipv4 | default('') | trim }}"
    ipv6: "{{ ipv6ULA | default('') | trim }}"
    bmc_base_url: >-
      https://{{ ipv4 if ipv4 | length > 0 else '[' + ipv6 + ']' if ipv6| length > 0 else '' }}
      
      
- name: Debug url
  debug:
    msg: "redfish_base_url: {{ bmc_base_url }}"
    
- name: Get Systems
  uri:
    url: "{{ bmc_base_url }}/redfish/v1/Systems"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: systems
    
- name: Get System details
  uri:
    url: "{{ bmc_base_url }}{{ systems.json.Members[0]['@odata.id'] }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: system_details

- name: Detect vendor
  set_fact:
    bmc_vendor: "{{ system_details.json.Oem.keys() | list | first | lower }}"

- name: Debug vendor
  debug:
    msg: "vendor: {{ bmc_vendor }}"

- name: Load vendor variables
  include_vars: "vendors/{{ bmc_vendor }}.yml"
  
#- name: Discover interface for BMC link local address
 # shell: |
  #  for iface in $(ls /sys/class/net); do
   #   ping -6 -c1 -I $iface {{ bmc_lla_ip }} >/dev/null 2>&1 && echo $iface
    #done
  #register: detected_iface
  #delegate_to: mgen
  #failed_when: detected_iface.stdout_lines|length == 0
  #changed_when: false

#- name: Configure BMC link local address interface
 # set_fact:
  #  bmc_lla_interface: "{{ detected_iface.stdout_lines[0] | trim }}"

#- name: Debug interface
 # debug:
  #  var: "interface: {{ bmc_lla_interface }}"
