# roles/bmc_config/tasks/discover.yml

- name: Set Redfish base url
  set_fact:
    redfish_base_url: >-
      https://{{
        '[' + ipv6 + ']'
        if ipv6 is defined and ipv6|length > 0
        else ipv4
      }}
  no_log: true

- name: Debug url
  debug:
    msg: "redfish_base_url: {{ redfish_base_url }}"
    
- name: Get Systems
  uri:
    url: "{{ redfish_base_url }}/redfish/v1/Systems"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: systems

- name: Get System details
  uri:
    url: "{{ redfish_base_url }}{{ systems.json.Members[0]['@odata.id'] }}"
    method: GET
    user: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    validate_certs: false
  delegate_to: mgen
  register: system_details

- name: Set vendor fact safely
  set_fact:
    bmc_vendor: "{{ system_details.json.Manufacturer | default('unknown') | lower }}"


    
