# roles/bmc_config/tasks/discover.yml

- name: Set Redfish base url
  set_fact:
    redfish_base_url: "https://[{{ ipv6ULA }}]"
  no_log: true

- name: Get Systems
  uri:
    url: "{{ redfish_base_url }}/redfish/v1/Systems"
    method: GET
    user: "{{ redfish_username }}"
    password: "{{ redfish_password }}"
    validate_certs: false
  register: systems

- name: Get System details
  uri:
    url: "{{ redfish_base_url }}{{ systems.json.Members[0]['@odata.id'] }}"
    method: GET
    user: "{{ redfish_username }}"
    password: "{{ redfish_password }}"
    validate_certs: false
  register: system_details

- name: Set vendor fact safely
  set_fact:
    bmc_vendor: "{{ system_details.json.Manufacturer | default('unknown') | lower }}"
 
- name: Debug vendor
  debug:
    msg: "bmc_vendor: {{ bmc_vendor }}"

    
