- name: Get current network protocol configuration
  uri:
    url: "https://{{ redfish_host }}/redfish/v1/Managers/1/NetworkProtocol"
    method: GET
    user: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: [200]
  register: current_protocols
  delegate_to: localhost
