---
# roles/system_vpd/tasks/main.yml
# Retrieves system mtm 

- name: Get Redfish system info
  community.general.redfish_info:
    category: Systems
    command: GetSystemInventory
    baseuri: "{{ bmc_ip }}"
    username: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: false
  register: rf_info
    
- name: Extract system identifiers
  ansible.builtin.set_fact:
    system_mtm: >-
      {{
        (
          rf_info.redfish_facts.system.entries
          | json_query('[].SKU')
          | select('defined')
          | list
          | first
          | default(
              rf_info.redfish_facts.system.entries
              | json_query('[].SubModel')
              | select('defined')
              | list
              | first
            )
        )[0:4] | upper
      }}
      
- name: Normalize system entries
  ansible.builtin.set_fact:
    systems: >-
      {{
        rf_info.redfish_facts.system.entries
        | default([])
        | map('last')
        | list
      }}
  when:
    - rf_info is defined
    - rf_info.redfish_facts is defined
    - rf_info.redfish_facts.system is defined


- name: Extract SerialNumber
  ansible.builtin.set_fact:
    system_serial: "{{ systems | map(attribute='SerialNumber') | first | default('UNKNOWN') }}
  
- name: Get current network interface configuration using Redfish API
  uri:
    url: "{{ redfish_host }}/redfish/v1/Managers/1/EthernetInterfaces"
    method: GET
    user: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    validate_certs: no
    force_basic_auth: yes
    return_content: yes
    status_code: [200]
  register: current_network
