  
- name: Get BMC Ethernet Interfaces
  community.general.redfish_info:
    baseuri: "{{ redfish_host }}"
    username: "{{ redfish_user }}"
    password: "{{ redfish_password }}"
    category: Manager
    command: GetEthernetInterfaces
  register: nic_info

- debug:
    var: "{{ nic_info }}"

- name: Find eth0 NIC ID
  set_fact:
    nic_id: >-
      {{
        nic_info.redfish_facts.ethernet_interfaces.entries
        | selectattr('Id', 'equalto', 'eth0')
        | map(attribute='Id')
        | list
        | first
      }}

- debug:
    var: "{{ nic_info }}"
