# User management 

- name: Get current IMM users via Redfish
  community.general.redfish_info:
    category: Accounts
    command: ListUsers
    baseuri: "{{ redfish_host }}"
    username: "{{ redfish_username }}"
    password: "{{ redfish_password }}"
  register: current_users
  failed_when: false

- name: Debug current users
  ansible.builtin.debug:
    var: current_users
    verbosity: 1
